{% extends "../base.html" %}
{% block head %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
</style>
<link href="/static/css/auth.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div hx-ext="response-targets" class="h-full w-full flex items-center justify-center">
    <form class="auth-form min-w-min p-20 h-4/6 w-9/12 flex gap-16 flex-col items-center justify-center"
          hx-target-*="#requestMessage"
          hx-post="{{ endpoint }}">
        <div>
            <p id="requestMessage" class="response-status text-center">&nbsp;</p>
            {% for element in elements %}
            <div class="flex justify-between">
                {% match element.name %}
                {% when Some with (name) %}
                <label for="{{ name }}">{{ element.label }}</label>
                <div class="spacing flex-grow flex-1"></div>
                <input class="w-64 min-w-min" type="{{ element.input_type }}" id="{{ name }}"
                       name="{{ name }}">
                {% when None %}
                <label>{{ element.label }}</label>
                <div class="spacing flex-grow flex-1"></div>
                <input class="w-64 min-w-min" type="{{ element.input_type }}">
                {% endmatch %}
            </div>
            {% endfor %}
        </div>
        <button type="submit">{{ button_text }}</button>
    </form>
</div>
{% endblock %}